# =========================
# Rust
# =========================

# Build output
/target/

# Rust backup files
**/*.rs.bk


# =========================
# OS / Editor
# =========================

# macOS
.DS_Store

# Windows
Thumbs.db

# Editors / IDEs
.vscode/
.idea/


# =========================
# Logs / Temp files
# =========================

*.log


# =========================
# Project runtime data
# =========================

# Tool runtime cache & input
cache/
input_File/

# Local binaries
duckdb.exe
