dataset_name: drivers_greenPortal

mode: auto

input:
  format: excel
  file_pattern:
    - "*.xlsx"
    - "*.xlsb"
  header: true

output:
  format: parquet
  overwrite: true

options:
  strict_schema: false

transform:

  select:
    - Mã_SAP
    - Số_điện_thoại
    - Họ___tên
    - Trạng_thái
    - Ngày_sinh
    - Giới_tính
    - Trạng_thái_tài_khoản
    - Lý_do_khóa
    - Dòng_xe
    - Biển_số
    - Trạng_thái_gán
    - Tổ
    - Loại_tài_xế
    - Trạng_thái_Deposit

  rename:
    Mã_SAP: SAP_ID

  filters:
    - "\"Loại_tài_xế\" = 'Internal'"
    - "(\"Lý_do_khóa\" IS NULL OR \"Lý_do_khóa\" <> 'Terminate')"

 computed:
  - name: Thời_gian_gán
    expr: "CASE WHEN \"Thời_gian_gán\" IS NULL OR \"Thời_gian_gán\" = '' 
            THEN NULL 
            ELSE CAST(\"Thời_gian_gán\" AS TIMESTAMP) + INTERVAL 7 HOUR 
           END"

  - name: Ngày_đầu_tiên_gán_xe
    expr: "CASE WHEN \"Ngày_đầu_tiên_gán_xe\" IS NULL OR \"Ngày_đầu_tiên_gán_xe\" = '' 
            THEN NULL 
            ELSE CAST(\"Ngày_đầu_tiên_gán_xe\" AS TIMESTAMP) + INTERVAL 7 HOUR 
           END"

 

  distinct: true