dataset_name: drivers_admin

mode: auto

input:
  format: excel
  file_pattern:
    - "*.xlsx"
    - "*.xlsb"
  header: true

output:
  format: parquet
  overwrite: true

options:
  strict_schema: false

transform:

  select:
    - SAP_ID
    - Account_Status
    - Driver_Type
    - Plate_Number
    - Vehicle_Type
    - Vehicle_Model
    - Wallet_balance

  filters:
    - "\"Account_Status\" = 'ACTIVATED'"
    - "\"Driver_Type\" = 'car'"

  distinct: true
