dataset_name: drivers_greenPortal

mode: auto

input:
  format: excel
  file_pattern:
    - "*.xlsx"
    - "*.xlsb"
  header: true

output:
  format: parquet
  overwrite: true

options:
  strict_schema: false

transform:

  select:
    - CASE 
        WHEN Mã_SAP IS NULL OR Mã_SAP = '' 
        THEN NULL 
        ELSE CAST(Mã_SAP AS BIGINT)
      END AS Mã_SAP
    - Số_điện_thoại
    - Họ___tên
    - Trạng_thái
    - Ngày_sinh
    - Giới_tính
    - Trạng_thái_tài_khoản
    - Lý_do_khóa
    - Dòng_xe
    - Biển_số
    - Trạng_thái_gán
    - Tổ
    - Loại_tài_xế
    - Trạng_thái_Deposit

  rename:
    Mã_SAP: SAP_ID
    Số_điện_thoại: So_Dien_Thoai
    Họ___tên: Ho_Ten
    Trạng_thái: Trang_Thai
    Ngày_sinh: Ngay_Sinh
    Giới_tính: Gioi_Tinh
    Trạng_thái_tài_khoản: Trang_Thai_Tai_Khoan
    Lý_do_khóa: Ly_Do_Khoa
    Dòng_xe: Dong_Xe
    Biển_số: Bien_So
    Trạng_thái_gán: Trang_Thai_Gan
    Tổ: To
    Loại_tài_xế: Loai_Tai_Xe
    Trạng_thái_Deposit: Trang_Thai_Deposit
    Thời_gian_gán: Thoi_Gian_Gan
    Ngày_đầu_tiên_gán_xe: Ngay_Dau_Tien_Gan_Xe

  filters:
    - "\"Loại_tài_xế\" = 'Internal'"
    - "(\"Lý_do_khóa\" IS NULL OR \"Lý_do_khóa\" <> 'Terminate')"

  computed:
    - name: Thoi_Gian_Gan
      expr: "CASE WHEN \"Thời_gian_gán\" IS NULL OR \"Thời_gian_gán\" = '' 
            THEN NULL 
            ELSE CAST(\"Thời_gian_gán\" AS TIMESTAMP) + INTERVAL 7 HOUR 
           END"

    - name: Ngay_Dau_Tien_Gan_Xe
      expr: "CASE WHEN \"Ngày_đầu_tiên_gán_xe\" IS NULL OR \"Ngày_đầu_tiên_gán_xe\" = '' 
            THEN NULL 
            ELSE CAST(\"Ngày_đầu_tiên_gán_xe\" AS TIMESTAMP) + INTERVAL 7 HOUR 
           END"

  distinct: true
